
<html>

  <head>
    <title>Caleb Hoover - Resume</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <link rel="stylesheet" href="/css/main.css">

    <!-- Vue.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <style>
      body {
        font-size: 14px;
      }

      small {
        font-size: 0.85rem;
      }
    </style>

  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="header">
          <div class="header_left">
            <img :src="github.avatar_url" class="avatar"/>
          </div>
          <div class="header_right">
            <h1 class="is-size-1 title">Caleb Hoover</h1>
            <h4 class="is-size-4"><a href="https://github.com/coder13">Github</a> | <a href="mailto:choover11@gmail.com">Email</a></h4>
          </div>
        </div>
        <hr>

        <section>
          <h3 class="is-size-3">Education</h3>
          <br>
          <div v-for="school in schools" :key="school.name" class="school">
            <p><a :href="school.url" class="is-size-5 has-text-weight-bold">{{school.name}}</a></p>
            <small><i>{{school.degree}}</i></small><br>
            <small>{{school.date}}</small>
          </div>
          <br>
        </section>

        <section>
          <h3 class="is-size-3">Experience</h3>

          <div v-for="job in jobs" :key="job.company" class="job">
            <b><a :href="job.url">{{job.company}}</a></b>
            <small v-if="job.position">{{job.title}}</small>
            <div v-if="job.positions">
              <div v-for="position in job.positions" :key="position.id">
                <small>{{position.date}}</small><br>
                <small v-if="position.title"><i>{{position.title}}</i></small>
                <span v-html="position.description"></span>

              </div>
            </div>
          </div>
        </section>

        <section>
          <h3 class="is-size-3">Projects</h3>

          <div v-for="project in projects" class="project">
            <b><a :href="project.url">{{project.name}}</a><span v-if="project.website"><a :href="project.website">  ({{project.website}})</a></span></b><br>
            <p v-html="project.description"></p>
            
            <small class="small">Language: <a :href="project.data.languages_url">{{project.data.language}}</a></small><br>
            <small class="small">Stars: {{project.data.stargazers_count}}</small><br>
            <small class="small">Forks: {{project.data.forks}}</small><br>
          </div>
            
        </section>
        <b style="font-size: 1.5em"><a :href="github.repos_url">{{github.public_repos}} other projects...</a></b>

        <section>
          <h3 class="is-size-3">Skills</h3>

          <ul>
            <li>Javascript / Node.js Full stack development</li>
            <li>React, Vue.JS, Hapi, Express, Meteor, RubyOnRails </li>
            <li>MySQL, Drupal, PHP, Java</li>
            <li><a href="https://www.worldcubeassociation.org/persons/2016HOOV01">Solving Rubik's Cubes</a></li>
          </ul>
        </section>
        
        <section>
          <h3 class="is-size-3">Volunteer</h3>
          
          <p>
            <b><a href="http://worldcubeassociation.com">World Cube Association</a></b><br>
            <small><i>WCA Delegate<i></small><br>
              <small>November 2017 - Present</small><br>
            Organize, oversee, and run officially sanctioned Rubik's Cube competitions.
          </p>
        </section>

        <hr>

        <footer>
          <a href="https://github.com/coder13/coder13.github.io">Github Repo</a>
        </footer>        
      </div>
    </div>

      <script src="/lib/index.js"></script>
    </body>
</html>
