<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BackboneTimer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>

	<script id="timeTemplate" type="text/template">
		<span><%= pretty(time) %></span>
		<button class="plus2">+2</button>
		<button class="DNF">DNF</button>
		<button class="Delete">Delete</button>
	</script>

	<script id="timerTemplate" type="text/template">
		<span id="time"><%= pretty(time) %></span>
	</script>
	
</head>
<body>
	<div id="timer"></div>
	<div id="times"></div>

	<script>
		/*
			Space: 13
			Escape: 27
		*/
		function now () {
			return (window.performance && window.performance.now
					? window.performance.now.bind(window.performance)
					: Date.now)().toFixed();
		}

		function pretty (time) {
			if (time < 0)
				return 'DNF';

			time = Math.round(time / 10);
			var bits = time % 100;
			time = (time - bits) / 100;
			var secs = time % 60;
			var mins = ((time - secs) / 60) % 60;

			var out = [bits];
			if (bits < 10) {
				out.push('0');
			}
			out.push('.');
			out.push(secs);
			if (secs < 10 && mins > 0) {
				out.push('0');
			}
			if (mins > 0) {
				out.push(':');
				out.push(mins)
			}
			return out.reverse().join('');
		}

		var requestAnimationFrame =
		    window.requestAnimationFrame || window.webkitRequestAnimationFrame ||
		    window.mozRequestAnimationFrame || window.oRequestAnimationFrame ||
		    window.msRequestAnimationFrame ||
		    function(fn) { return window.setTimeout(fn, 1000 / 60); };

		var cancelAnimationFrame =
		    window.cancelAnimationFrame || window.webkitCancelAnimationFrame ||
		    window.mozCancelRequestAnimationFrame ||
		    window.oCancelRequestAnimationFrame ||
		    window.msCancelRequestAnimationFrame || window.clearTimeout;


		function setInterval(fn, delay) {
			// Have to use an object here to store a reference
			// to the requestAnimationFrame ID.
			var handle = {};

			function interval() {
				fn.call();
				handle.value = requestAnimationFrame(interval)
			}

		 	handle.value = requestAnimationFrame(interval);
			return handle;
		}

		function clearInterval(interval) {
			cancelAnimationFrame(interval.value);
		}

		window.App = {
			Models: {},
			Collections: {},
			Views: {},
		}

		App.Models.Time = Backbone.Model.extend( {
			defaults: {
				time: 0,
				plus2: false,
				DNF: false
			}
		});

		App.Collections.Session = Backbone.Collection.extend({
			model: App.Models.Time
		});

		App.Views.Session = Backbone.View.extend({
			tagName: 'ul',

			render: function () {
				this.collection.each(function(time) {
					var timeView = new App.Views.Time({model: time});
					this.$el.append(timeView.render().el);
				}, this);

				return this;
			},

			add: function (time) {
				this.collection.push(time);
				var timeModel = new App.Models.Time(time);
				var timeView = new App.Views.Time({model: timeModel});
				this.$el.append(timeView.render().el);
			}
		});

		App.Views.Time = Backbone.View.extend({
			tagName: 'li',

			template: _.template($('#timeTemplate').html()),

			render: function() {
				this.$el.html(this.template(this.model.toJSON()));
				return this;
			}
		});


		var session = new App.Collections.Session();

		var sessionView = new App.Views.Session({collection: session});
		$('#times').append(sessionView.render().el);

		App.Models.Timer = Backbone.Model.extend({
			defaults: {
				accuracy: 2, 		// # of digits displayed after the decimal point
				input: 'timer',		// timer, manual, stackmat
				inspection: 15,		// Amount of inspection in seconds. 15s is WCA
				phase: 1
			},
			active: false,
			time: 0,

			initialize: function (options) {
				if (options.addTime)
					this.addTime = options.addTime;
				console.log(1, arguments);
			},
			start: function () {
				if (!this.active) {
					this.active = true;
					timer.now = now();
					this.timerObj = setInterval(_.bind(this.tick, this), 10);
				}
			},
			stop: function() {
				if (this.active) {
					this.active = false;
					clearInterval(this.timerObj);
					if (this.addTime)
						this.addTime(this.time);
					this.time = 0;
				}
			},

			tick: function () {
				this.time = (now() - timer.now);
				this.trigger('change', this);
			}
		});

		App.Views.Timer = Backbone.View.extend({
			template: _.template($('#timerTemplate').html()),

			initialize: function () {
				$(document).bind('keyup', _.bind(this.keyUp, this));
				$(document).bind('keydown', _.bind(this.keyDown, this));

				this.model.bind('change', _.bind(this.render, this));
				this.$el.append(this.render().el);
			},
			keyDown: function (e) {
				if (e.keyCode == 32) {
					if (this.timing) {
						this.model.stop();
					}
				}
			},
			keyUp: function (e) {
				if (e.keyCode == 32) {
					if (!this.timing) {
						this.model.start();
						this.timing = true;
					} else {
						this.timing = false;
					}
				}
			},

			render: function () {
				this.$el.html(this.template({time: this.model.time}));
				return this;
			}
		});

		function AddTime(time) {
			sessionView.add({time: time});
		}

		var timer = new App.Models.Timer({accuracy: 2, input: 'timer', inspection: 15, phase: 1, addTime: AddTime});
		var timerView = new App.Views.Timer({el: $("#timer"), model: timer});

	</script>
</body>
</html>