@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "./palette.scss";

$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$blue: #6984AE;

$body-font-size: 1.125em;
$small-font-size: 1em;

// $primary: $color1;
// $link: $color3;
// $info: $color4;
// $info-invert: #333333;

$sexy: $blue;

@import "../node_modules/bulma/bulma";

span.alg {
  font-family: "Roboto Mono", monospace;
  padding: .25em;
  border-radius: 4px;
  padding-left: .25em;
  padding-right: .25em;
  background-color: #efefef;
}

.blue {
  color: $sexy;
}

td {
  vertical-align: middle;
}

html, body {
  margin: 1em;
}

.header {
  display: flex;
  flex-direction: row;
}

.header_left {
  width: 20%;
}

.avatar {
  width: 30vw;
}

.header_right {
  margin-left: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.school {
  margin-bottom: 1em;
}

.job {
  margin-bottom: 1em;
}

.project {
  margin-bottom: 1em;
}

@import "./donate.scss";
