/* Coolors Exported Palette - coolors.co/80a1d4-333333-666a86-e8ddb5-edafb8 */

/* HSL */
$color1: hsla(216%, 49%, 67%, 1);
$color2: hsla(0%, 0%, 20%, 1);
$color3: hsla(233%, 14%, 46%, 1);
$color4: hsla(47%, 53%, 81%, 1);
$color5: hsla(351%, 63%, 81%, 1);

/* RGB */
$color1: rgba(128, 161, 212, 1);
$color2: rgba(51, 51, 51, 1);
$color3: rgba(102, 106, 134, 1);
$color4: rgba(232, 221, 181, 1);
$color5: rgba(237, 175, 184, 1);