body {
	margin: 0px;
	background: #ccc;
}

html, body {
	height: 100%;
}

#header {
	clear: both;
	height: 32px;
}

table {
	border-collapse: collapse;
	border: 1px solid #7f7f7f;
	background-color: #aaa;
	padding: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

table td, table tr, table th {
	border: 1px solid #7f7f7f;

}

th {
	text-align: left;
	padding: 2px;
}

#session {
	height: calc(100% - 37px);
	background-color: #aaa;
	border: 1px solid #7f7f7f;
	border-radius: 5px;
	padding: 2px;
}

#times {
	border: 1px solid #7f7f7f;
	height: 100%;
}

/*button {
	font-family: Arial;
	text-decoration: none;
	border: 1px solid #eee;
	background-color: #aaa;
	height: 24px;
	margin: 0px;
}*/

div.container {
	float: left;
}

#timer {
	padding: 100px;
	font-size: 48px;
	text-align: center;
}

#scramble {
	text-align: center;
}
